* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Palatino Linotype", serif;
  font-style: italic;
  background-color: #ebc8d5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.invitation {
  background-image: url(./img/fundal-d.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem;
  border-radius: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  width: 85%;
}

.text-container {
  margin-left: 50px;
  gap: 10px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: #b63b6e;
}
.underline {
  text-decoration: underline;
}
p {
  margin: 0;
  font-size: 1.2rem;
  color: #334d39;
  line-height: 1.4;
}

.location-link {
  color: #333;
}
.date p {
  font-size: 30px;
  color: #b63b6e;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b63b6e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
}
dialog.form-container {
  width: 60%;
  height: auto;
}
dialog.form-container iframe {
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* .invitation {
  } */
}
@media screen and (max-width: 767px) {
  .invitation {
    padding: 0;
    background-image: url(./img/fundal-m.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p,
  .date p {
    font-size: 0.8rem;
    margin: 5px;
  }
  .text-container {
    width: 80%;
    margin: 0;
  }
  button {
    width: 80px;
    font-size: 0.8rem;
  }
  h1 {
    font-size: 15px;
  }
  dialog.form-container {
    width: 90%;
  }
  dialog.form-container iframe {
    width: 100%;
  }
}
